@media only screen and (max-width: 767px) {

    .nav__list{
        flex-direction: column;
        display: none;
    }
    .ui-accordion .ui-accordion-content{
        display: none;

    }
    .nav-but-wrap{
        display: inline-block;
    }
}
@media only screen and (min-width: 768px) {
    .nav__list{
        flex-direction: column;
        display: none;
    }
}
@media only screen and (max-width: 320px) {

}