*{
    padding: 0;
    margin: 0;
}
header{
    padding: 24px 0;
    background-color: #181818;
    position: absolute;
    /*z-index: ;*/
    width: 100%;
}
#genheader{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 32px 0 20px;
    box-sizing: border-box;
}
body header div nav {
    list-style: none;
}
.head_list_left{
    margin-left: 32px;
    padding-top: 11px;
}
.head_list{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF
}
#business_area{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 0 0 340px;
}
.get_template{
    padding: 11px 20px;
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
}



.aperture{
    min-height: 716px;
    background-size: cover;
    background-image: url(../images/nature.svg);
}

.text_nature{
    margin: auto;
    text-align: center;
    max-width: 600px;
    padding: 446px 0 0 0;
}
.text_nature h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-top: 20px;
}
.text_nature h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 1px;
}
.text_nature p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    padding-top: 18px;
}
.down{
    max-width: 1440px;
    margin: auto;
    padding: 14px 0 41px 0;
    text-align: left;
}
.down ul{
    display: flex;
    list-style: none;
    justify-content: end;
    /*padding-left: 905px;*/
    padding-right: 40px;
}
.li{
    display: flex;
    margin-left: 16px;
}
.ppp{
    padding: 0 0 0 6px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF
}



/*.what_we_do{*/
/*    background-color: #000000;*/
/*}*/
/*.what{*/
/*    max-width: 1168px;*/
/*    margin: auto;*/
/*}*/
/*.what h1{*/
/*    padding-top: 113px;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 40px;*/
/*    line-height: 42px;*/
/*    text-align: center;*/
/*    color: #FFFFFF;*/
/*}*/
/*.what h3{*/
/*    padding-top: 15px;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 23px;*/
/*    line-height: 30px;*/
/*    text-align: center;*/
/*    color: #C0C0C0;*/
/*}*/
/*.pics1{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding-top: 42px;*/
/*}*/
/*.pics2{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 16px 0 100px ;*/
/*}*/
/*.pics1 article{*/
/*    max-width: 576px;*/
/*    position: relative;*/
/*}*/
/*.pics2 article{*/
/*    max-width: 576px;*/
/*    position: relative;*/
/*}*/
/*.pics1 article img{*/
/*    width: 100%;*/
/*}*/
/*.pics2 article img{*/
/*    width: 100%;*/
/*}*/
/*.photography{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin-top: 401px;*/
/*    margin-left: 30px;*/
/*    max-width: 501px;*/
/*    !*max-height: 169px;*!*/
/*    align-content: space-between;*/
/*}*/
/*.h5{*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    letter-spacing: 2px;*/
/*    text-transform: uppercase;*/
/*    color: #FFFFFF;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.p{*/
/*    !*margin-bottom: 10px;*!*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    color: #C0C0C0;*/
/*}*/
/*.button{*/
/*    position: relative;*/
/*    margin-top: 17px;*/
/*    background: #FFFFFF;*/
/*    border-radius: 14px;*/
/*    padding: 9px 10px 13px 42px;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 15px;*/
/*    line-height: 20px;*/
/*    letter-spacing: 0.4px;*/
/*    color: #000000;*/
/*    text-decoration: none;*/
/*}*/
/*.photography a:before{*/
/*    position: absolute;*/
/*    content: "";*/
/*    display: block;*/
/*    width: 33px;*/
/*    height: 33px;*/
/*    background-color: black;*/
/*    border-radius: 50%;*/
/*}*/
.what_we_do{
    background-color: #000000;
}
.what{
    max-width: 1200px;
    margin: auto;
    padding: 112px 0 100px;
}
.what h1{
    /*padding-top: 113px;*/
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.what h3{
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.pics1{
    padding: 42px 0px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1168px;
}
.pics2{
    margin-top: 16px;
}
.pics1{
    max-width: 576px;
    position: relative;
}
.pics2{
    max-width: 576px;
    position: relative;
}
.pics1 article img{
    width: 100%;
}
.pics2 article img{
    width: 100%;
}
.photography{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 401px;
    margin-left: 30px;
    max-width: 501px;
    box-sizing: border-box;
    align-content: space-between;
}
.h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.p{
    /*margin-bottom: 10px;*/
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.button{
    position: relative;
    margin-top: 17px;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 10px 13px 42px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    top: 30px;
}
.button1{
    position: relative;
    margin-top: 17px;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 10px 13px 42px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    top: 50px;
}
.photography a:before{
    position: absolute;
    content: "";
    display: block;
    top: 5px;
    left: 5px;
    width: 33px;
    height: 33px;
    background-color: black;
    border-radius: 50%;
}
.ui-widget-content{
    background-color: black;
    border: none;
}
.ui-accordion .ui-accordion-content{
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    margin: auto;
    box-sizing: border-box;
    padding: 0;
}
.ui-accordion .ui-accordion-header{
    background-color: transparent;
    border: none;
}


/*---------Past-Clients----------*/

.pastclients{
    background-color: #000000;
}
.past{
    margin: auto;
    max-width: 1200px;
    padding: 120px 120px 100px;
}
.past h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.past h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-top: 15px;
}
.clients{
    padding: 42px 16px 0 16px;
}
.clients ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 46px;
}
.clients ul li img{
    max-width: 128px;
}
.owl-carousel .owl-nav button, .owl-carousel .owl-nav button, .owl-carousel button.owl-dot {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 40px;
}
.owl-dots{
    justify-content: center;
    display: flex;
}

/*.owl-nav{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    top: 35%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/



main{
    padding: 137px 0 128px;
    background-color: black;
    position: relative;
    min-height: 540px;
}
#main_div_one{
    max-width: 1200px;
    margin: auto;
}
main div h3{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 20px;
    text-spacing: 2px ;
    Letter-spacing: 2px;
    color: #C0C0C0;
    margin-bottom: 6px;
}
main div h1{
    margin-bottom: 14px;
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 28px;
    font-weight: 400;
    Line-height: 70px;
    color: white;
}
main div p{
    max-width: 514px;
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 16px;
    font-weight: 400;
    Line-height: 24px;
    color: white;
    margin-bottom: 20px;
}
.button_get{
    position: relative;
    margin-top: 17px;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 10px 13px 42px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    top: 30px;
}
.main_div_one a:before{
    position: absolute;
    content: "";
    display: block;
    top: 5px;
    left: 5px;
    width: 33px;
    height: 33px;
    background-color: black;
    border-radius: 50%;
}
#background_image{
    position: absolute;
    right: 0;
    top:0;
    width:50%;
    height: 100%;
    background-image: url('../images/photoap.jpg');
    background-size: cover
}

